
.button__medium {
    @include button-properties;
&:hover {
    @include button-hover;
}
&:focus {
    background-color: $nickel;
     border: 3px solid $nickel;

}
}

.container-fluid {
    background-color: $light-gray;
}

@media (max-width: 576px){
    .button__medium {
        border-radius: 50px;
        padding: .7rem 1rem;
        margin-right: .5rem;
        background-color: $nickel;
        border: 1px solid $nickel;
        color: $white;
        font-size: 14px;
    &:hover {
        @include button-hover;
    }
    &:focus {
        background-color: $nickel;
         border: 3px solid $nickel;
    
    }
    } 
}